/*--------------------------------------------------------------------------------
----- Global page configuration
--------------------------------------------------------------------------------*/

/* Import the font resource to use Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap');

/*--------------------------------------------------------------------------------
----- Search algorithm and canvas container layout
--------------------------------------------------------------------------------*/

/* Configuration of a container to include every application button */
.buttons_container {
    margin-top: 5px;
}

/* Configuration of application buttons, canvas and legends containers layouts */
.buttons_container, .canvas_container, .legends_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}

/* Configuration of application buttons aspect */
#import_button, #start_button, #reset_button {
    height: 25px;
}
#import_button {
    width: 100px;
    margin-top: 15px;
}
#start_button, #reset_button {
    width: 70px;
    margin-top: 10px;
}

/* Configuration of the canvas outer borders aspect */
#original_image_canvas, #solution_image_canvas {
    border: solid #ccc 1px;
}

/* Configuration of the canvas images legends */
.legends_container div {
    float: left;
    width: 500px;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    margin-top: -5px;
    text-align: center;
}
